body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FCFCD2;
}


.card-container {
  display: flex;
  justify-content: center;
}

.poke-card {
  margin-top: 20px;
  padding: 2em;
  background-color: #8DE0FE;
  max-width: 100px;
  border-radius: 15px;
}

.poke-abilities button {
  background-color: #f25f4c;
  color: #fffffe
}
